:root {
    --bg: hsl(0, 0%, 100%);
    --primary: hsl(150, 5%, 38%);
    --accent: hsl(153, 22%, 47%);
    --subdued: hsl(155, 46%, 93%);

    /* ------ font-families ------- */
    --ff-primary: "Nunito", sans-serif;
    --ff-heading:font-family: 'Noto Serif Display', serif;

    /* ------ font-weights ------ */
    --fw-r: 400;
    --fw-b: 700;
}
